#yellow {
	color: yellow;
	text-align: center;
}
#grayfilter {
    filter: grayscale(100%);
}
h1.green {
	color: green;
	text-align: center;
    text-shadow: 5px 5px 5px #FF0000;
    transition: transform 4s;
}
h1.green:hover {
    transform: rotate(10deg);
}
h2.green {
	color: green;
	text-align: center;
}
h1.blue {
    color: blue;
}
div.smile {
    background-color: white;
    width: 400px;
    position: fixed;
    text-align: center;
}
p.white {
	color: white;
}
h3.purple {
	color: purple;
    text-decoration: blink;
}
div.header{
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px;
        }
div.nav{
            line-height: 30px;
            background-color: #eeeeee;
            height: 300px;
            width: 100px;
            float: left;
            padding: 5px;
        }
div.section{
            width: 350px;
            float: left;
            padding: 10px;
        }
div.footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 10px;
        }
div.rightside {
    background: #eeeeee;
    height: 300px;
    width: 600px;
    float: right;
    padding: 10px;
    line-height: 20px;
}
div.gif1 {
    margin: 3px;
    height: 300px;
    width: 300px;
    float: left;
    text-align: center;
}
div.gif2 {
    margin: 3px;
    height: 300px;
    width: 250px;
    float: right;
    text-align: center;
    border: 15px solid transparent;
    border-radius: 15%;
}
img.Change {    
    width: 250px;
    border-radius: 50%;
}
ol.section {
	color: yellow;
	line-height: 20px;
	text-decoration: underline;
}
strong {
	color: red;
    text-decoration: line-through;
}
a {
    text-decoration: none;
}
@keyframes myfirst {
    from {background: }
}
button.button {
    background-color: #4CAF50;
    background-image: linear-gradient(to right,green,yellow);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: auto;
    width: 100%;
}
button.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
div.Button1 {
    margin: auto;
    width: 30%;
}
html.BgGray {
    filter: grayscale(100%);
}
