#main-content {
  font-size: 36px;
  font-weight: bold;
  padding: 16px;
}
#yellow {
	color: yellow;
	text-align: center;
}
h1.green {
	color: green;
	text-align: center;
}
h2.green {
	color: green;
	text-align: center;
}
p.white {
	color: white;
}
h3.purple {
	color: purple;
}
div.header{
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px;
        }
div.nav{
            line-height: 30px;
            background-color: #eeeeee;
            height: 300px;
            width: 100px;
            float: left;
            padding: 5px;
        }
div.section{
            width: 350px;
            float: left;
            padding: 10px;
        }
div.footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 10px;
        }
div.rightside {
    background: #eeeeee;
    height: 300px;
    width: 600px;
    float: right;
    padding: 10px;
    line-height: 20px;
}
img.gif1 {
    margin: 3px;
    height: 300px;
    width: 300px;
    float: left;
    text-align: center;
}
img.gif2 {
    margin: 3px;
    height: 300px;
    width: 200px;
    float: right;
    text-align: center;
}
ol.section {
	color: yellow;
	line-height: 20px;
	text-decoration: underline;
}
strong {
	color: red;
}